\documentclass{resume_v2}

\name{(((me.name.pref))) (((me.name.last))), PhD}
\email{(((me.email)))}
\website{(((me.website)))}
\github{(((me.github)))}

\begin{document}

\mkheader

\section{Education}
((* for edu in education *))

  \bfheader{(((edu.institution)))}{(((edu.location)))}

  ((* for deg in edu.degrees *))
    \itsubheader{
      (((deg.initials))) in (((deg.subject | join('; ') )))}{(((deg.year)))}
    ((* if 'addl' in deg *))
      \subline{((( deg.addl | join(", ") )))}
    ((* endif *))
  ((* endfor *))
  \secspace
((* endfor *))

\section{Experience}
((* for exp in experience *))
  \bfheader{(((exp.institution)))}{(((exp.location)))}

  ((* for pos in exp.positions *))
    \itsubheader{(((pos.title)))}{(((pos.start)))--(((pos.end)))}
    \begin{itemize}
      ((* for bullet in pos.bullets *))
        \item {\small (((bullet)))}
      ((* endfor *))
    \end{itemize}
  ((* endfor *))

\secspace
((* endfor *))

\section{Programming Skills}
\subline{Python, C\texttt{++}, MPI, OpenMP, Matlab, Mathematica, Shell, \LaTeX, JavaScript, Perl, Gnuplot, Java }

\section{Awards}
\begin{tabularx}{\textwidth}{lXr}
((* for award in awards if 'selected' in award and award['selected'] *))
  (((award.name))) &
  (((award.scale))) &
  (((award.awarder))),
  (((award.date)))\\
((* endfor *))
\end{tabularx}

\section{Selected Publications}
\begin{tabular}{@{}llr@{}}
((* for p in papers if 'selected' in p and p['selected'] *))
  ((( p.doi.title(link=True,maxc=7) ))) &
  ((( p.doi.j_brief() ))) &
  (((p.doi.cited_by() ))) citations \\
((* endfor *))
\end{tabular}

\end{document}
